
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif', 'Segoe UI Emoji';
    font-size: 18px;
    display: flex;
    flex-flow: column;
}

:root {
    --light-mode-primary-color: black;
    --light-mode-background-color: #DDD;
    --light-mode-highlight-color: #65F;
    --dark-mode-primary-color: #DDD;
    --dark-mode-background-color: #111;
    --dark-mode-highlight-color: #98D;
}

/* layout of header */

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    min-height: 3.5em;
    padding: 5px 0 5px 0;
    border-style: solid;
    border-width: 0 0 2px 0;
}
#header-left {
    padding: 0.15em 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 15vw;
}
#header-center {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
#header-right {
    padding: 0.15em 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 15vw;
}

.menu-item {
    padding: 0.15em 0.25em;
    margin: 0.15em 0.25em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* layout of lower body (main and footer) */

#lower-body {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

main {
    flex: 1;
    padding: 2em 15vw 2em 15vw;
}

/* https://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue */
footer {
    font-size: 14px;
    padding: 2em 15vw 2em 15vw;
    border-style: solid;
    border-width: 2px 0 0 0;
}
#footer-table td {
    min-width: 10em;
    padding: 0.2em 1.5em 0.2em 0;
}
#footer-table a {
    color: inherit;
    text-decoration: none;
}

/* light mode */

body.light-mode {
    color: var(--light-mode-primary-color);
    background-color: #111;
}

body.light-mode main {
    background-color: var(--light-mode-background-color);
}
body.light-mode main a {
    color: var(--light-mode-highlight-color);
}
body.light-mode main a:hover {
    color: #68A;
}
body.light-mode button {
    color: var(--light-mode-highlight-color);
    background-color: var(--light-mode-background-color);
}
body.light-mode button:hover {
    color: #68A;
}

body.light-mode header {
    color: white;
    background-color: #111;
    border-color: gray;
}
body.light-mode header a {
    color: white;
}
body.light-mode header a:hover {
    color: var(--dark-mode-highlight-color); /* intentional */
    text-decoration: none;
}
body.light-mode footer {
    color: #999;
    background-color: #111;
    border-color: gray;
}

/* dark mode */

body.dark-mode {
    color: var(--dark-mode-primary-color);
    background-color: black;
}

body.dark-mode main {
    background-color: var(--dark-mode-background-color);
}
body.dark-mode a {
    color: var(--dark-mode-highlight-color);
}
body.dark-mode main a:hover {
    color: #68A;
}
body.dark-mode button {
    color: var(--dark-mode-highlight-color);
    background-color: var(--dark-mode-background-color);
}
body.dark-mode button:hover {
    color: #68A;
}

body.dark-mode header {
    background-color: black;
    border-color: #333;
}
body.dark-mode header a {
    color: white;
}
body.dark-mode header a:hover {
    color: var(--dark-mode-highlight-color);
    text-decoration: none;
}
body.dark-mode footer {
    border-color: #333;
    color: #999;
    background-color: black;
}

/* generic styling */

h1 {
    padding-top: 35px;
    padding-bottom: 10px;
    font-weight: 510;
    font-size: 2rem;
}
h2 {
    padding-top: 35px;
    padding-bottom: 10px;
    font-weight: 510;
    font-size: 1.5rem;
}
h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 510;
}
h4 {
    font-size: 1rem;
}
h1 > a, h2 > a, h3 > a, h4 > a {
    color: inherit !important;
    text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
h1 > a:hover::before, h2 > a:hover::before, h3 > a:hover::before, h4 > a:hover::before {
    content: '# ';
}

p {
    padding: 8px 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    padding: 0.2em 0.3em;
    margin: 0 2px;
    /* border: 1px solid; */
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

strong {
    font-weight: 650;
}

ul {
    list-style: none;
}
ul, ol {
    margin: 0.3em 0 0.3em 1.5em;
}
ul > li, ol > li {
    margin: 0.15em 0 0 0;
}
ul > li::marker {
    content: '-\a0';
}

td, th {
    text-align: left;
    padding: 10px 20px 10px 0;
}

img {
    max-width: 100%;
    margin: 10px 0;
}

.no-display {
    display: none;
}

.bgcolor-1, .bgcolor-2, .bgcolor-3 {
    /* little bit of a hack for LaTeX text that displays out of bounds */
    padding-right: 2px;
}
body.light-mode .bgcolor-1 {
    background-color: #7BD3EA;
}
body.light-mode .bgcolor-2 {
    background-color: #FFCF81;
}
body.light-mode .bgcolor-3 {
    background-color: #E0AED0;
}
body.light-mode .bgcolor-wrong {
    background-color: #FF9944;
}
body.dark-mode .bgcolor-1 {
    background-color: #332266;
}
body.dark-mode .bgcolor-2 {
    background-color: #114422;
}
body.dark-mode .bgcolor-3 {
    background-color: #663322;
}
body.dark-mode .bgcolor-wrong {
    background-color: #441111;
}

/* math stuff */

figure.inline-table table {
    border-collapse: collapse;
    border-style: hidden;
}
figure.inline-table table td, figure.inline-table table th {
    vertical-align: middle;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
}
figure.inline-table {
    overflow-x: auto;
}
body.light-mode figure.inline-table td, body.light-mode figure.inline-table th {
    border-color: var(--light-mode-primary-color);
}
body.dark-mode figure.inline-table td, body.dark-mode figure.inline-table th {
    border-color: var(--dark-mode-primary-color);
}

table.proof {
    margin: 0.6em 0 0.6em 1.2em;
}
table.proof, table.proof td {
    border-collapse: collapse;
}
table.proof td:nth-child(1) {
    margin: 0;
    padding: 0 0.4em 0 0;
}
table.proof td:nth-child(2) {
    padding: 0 0 0 1.2em;
    border-width: 0 0 0 1px;
    border-style: solid;
    white-space: pre;
}
body.light-mode table.proof td:nth-child(2) {
    border-left-color: var(--light-mode-primary-color);
}
body.dark-mode table.proof td:nth-child(2) {
    border-left-color: var(--dark-mode-primary-color);
}

.stepper {
    margin: 0.6em 0;
}

/* form inputs */

.input-element {
    display: flex;
    flex-flow: row;
    align-content: center;
    margin: 0.5em;
}

input[type='radio'] {
    appearance: none;

    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;

    border: 2px solid #999;
    margin-right: 5px;

    position: relative;
    top: 4px;
}
input[type='radio']:checked {
    border: 3px solid #65F;
}

input[type='text'] {
    padding: 0.2em;
    font: inherit;
    border: 1px;
}
body.dark-mode input[type='text'] {
    color: white;
    background-color: #333;
    background-image: none;
}
body.dark-mode input[type='text']:focus {
    outline: 0;
    box-shadow: inset 0 0 6px #65F;
}
body.light-mode input[type='text'] {
    color: black;
    background-color: #CCC;
}
body.light-mode input[type='text']:focus {
    outline: 0;
    box-shadow: inset 0 0 6px #65F;
}
